body {
    font-family: Arial, sans-serif;
    padding: 20px;
}
#resultado {
    margin-top: 20px;
}
.btn-generar {
    background-color: #4CAF50; /* Color de fondo */
    border: none; /* Sin borde */
    color: white; /* Color del texto */
    padding: 15px 32px; /* Relleno */
    text-align: center; /* Alineación del texto */
    text-decoration: none; /* Sin subrayado */
    display: inline-block; /* Display en línea */
    font-size: 16px; /* Tamaño de la fuente */
    margin: 4px 2px; /* Margen */
    cursor: pointer; /* Cursor de puntero */
    border-radius: 12px; /* Bordes redondeados */
}

/* Estilo para el hover (cuando el cursor está sobre el botón) */
.btn-generar:hover {
    background-color: #45a049;
}
